* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#container {
    display: grid;
    grid-template-columns: auto 80% auto;
    background-color: rgb(223, 196, 226);
}

nav {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgb(255, 191, 191);
}

nav a {
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

#hero-image {
    grid-column-start: span 4;
    height: 200px;
    background-color: orange;
}

#hero-image h2 {
    margin-top: 30px;
    font-size: 3rem;
    text-align: center;
}

#products {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 10% auto auto auto 10%;
    background-color: lightgreen;
    border: 1px solid black;
    
}

#single-products {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-start: 2;
    grid-column-end: 5;
}

#single-products p {
    height: 100px;
    margin: 10px;
    border: 1px solid black;
    background-color: lightyellow;
    text-align: center;
    padding: 30px;
    
}

.border {
    border: 2px solid black;
}

.text-center {
    text-align: center;
}

